@font-face{
  font-family: "DFDS";
  src: url("fonts/DFDS-Light.woff2") format("woff2");
  font-weight: normal;
}

@font-face{
  font-family: "DFDS";
  src: url("fonts/DFDS-Bold.woff2") format("woff2");
  font-weight: bold;
}


html{
  font-size: 14px;
}

body{
  font-size: 1em;
  font-family: DFDS,"Segoe UI";
  font-weight: normal;
  background-color: #eaedee;
  margin: 0;
}

/* Header */
header{
  background-color: #FFF;
  width: 100%;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr;
  box-shadow: 0px 3px 5px 0px rgba(209,209,209,1);
}

#logo{
  height: 2em;
  padding: 1em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  padding: 1em 1em 1em 2em;
}

#logo img{
  width: 3em;

}

h1{
  color: #003251;
  font-size: 1.4em;
  margin: 0;
  font-family: DFDS;
  font-weight: bold;
  align-self: center;
}

form{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

input[name="search"]{
  width: 6em;
  background-image: url('../img/SearchIcon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1em;
  transition: all .3s;
  border-color: #005184;
  border-style: solid;
  border-width: 1.5px;
  padding: 0.4em;
  margin-left: -3em;
  border-radius: 3px;
}

input[name="search"]:hover{
  border-color: #f6861f;
  transition: all .3s;
}

input[name="search"]:focus{
  background-position-x: 120%;
  width: 7em;
  border-color: #f6861f;
  transition: all .3s;
}


header > a{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: left;
  align-self: center;
  margin-left: -1.3em;
}

header > a:hover{
  color: #f6861f;
  transition: all .2s;

}



/* Navigation */
nav{
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: white;
  margin-top: 0em;
  border-top: solid 1.5px #eaedee;


}

ul{
  list-style-type: none;
  font-family: DFDS;
  font-weight: bold;
  font-size: 1.3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;
}

ul a{
  text-decoration: none;
  color: #003251;
}

ul a:hover:active{
  color: #f6861f;
}

.thisPage{
  color: #F6861F;
}

li{
  justify-self: center;
}

li:nth-of-type(1){
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: baseline;
  padding-right: 0.3em;
}

li:nth-of-type(2){
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  padding-right: 0.3em;
}

li:nth-of-type(3){
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: baseline;
  padding-left: 1em;
}

li:nth-of-type(4){
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  padding-left: 1em;
}

li:nth-of-type(5){
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  align-self: baseline;
  padding-left: 1.6em;
}

li:nth-of-type(6){
  grid-column: 3 / 3;
  grid-row: 2 / 2;
  padding-left: 1.6em;
}


li img{
  width: 1.2em;
}

li img:nth-of-type(1){
  margin-bottom: -0.3em;
}


/* Main */
a{
  text-decoration: none;
}

section:nth-of-type(1){
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr;
}

#filterForm{
  grid-column: 1/2;
  grid-row: 2/3;
}

#filterBtn{
  width: 5.5em;
  height: 2em;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: right;
  margin-top: 1.5em;
  margin-right: 2em;
  background-color:#F6861F;
  border: none;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  font-family: "DFDS";
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  z-index: 2
}

h3{
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 1.5em;
  color: #FFF;
  margin: 0;
  padding-left: 1.1em;
  padding-top: 0.3em
}

legend{
  font-family: "DFDS";
  font-weight: bold;
  font-size: 1.2em;
  justify-self: bottom;
}

fieldset{
  margin: 1em 0;
  color: #FFF;
  border: 0;
  z-index: 1;
}

fieldset:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 2/3;
}

fieldset:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 3/4;
}

fieldset:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 4/5;
}

div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

label:nth-of-type(1){
  grid-column: 1/2;
  grid-row: 1/2;
}

label:nth-of-type(2){
  grid-column: 1/2;
  grid-row: 2/3;
}

label:nth-of-type(3){
  grid-column: 1/2;
  grid-row: 3/4;
}

label:nth-of-type(4){
  grid-column: 1/2;
  grid-row: 4/5;
}

label:nth-of-type(5){
  grid-column: 2/3;
  grid-row: 1/2;
}

label:nth-of-type(6){
  grid-column: 2/3;
  grid-row: 2/3;
}

label:nth-of-type(7){
  grid-column: 2/3;
  grid-row: 3/4;
}

label:nth-of-type(8){
  grid-column: 2/3;
  grid-row: 4/5;
}

fieldset:nth-of-type(1){
  margin-top: 0.5em;
}

fieldset:nth-of-type(3){
  margin-bottom: 0;
  padding-bottom: 0;
}

legend:nth-of-type(3){
  padding-left: 0;
}

label#leestijdSlider{
  margin-left: 2px;
}

input#leestijdSlider{
  margin-left: 3em;
  margin-top: 1em;
  width: 13em;
}

#tickmarks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

option{
  justify-self: center;
}

option:nth-of-type(1){
  grid-column: 1/2;
  grid-row: 1/2;
}

option:nth-of-type(8){
  grid-column: 3/4;
  grid-row: 1/2;
}

#filterForm>img{
  grid-column: 2/4;
  grid-row: 4/6;
  overflow: hidden;
  width: 12em;
  z-index: 0;
  justify-self: right;
  align-self: end;
}


#resultaten{
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: top;
  justify-self: center;
  width: 11em;
  height: 2em;
  background-color: #F6861F;
  font-family: DFDS;
  font-weight: bold;
  color: #FFF;
  font-size: 1.5em;
  text-transform: uppercase;
  /* margin-bottom: 1em; */
  border: none;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  z-index: 1;


}

/*Filter toggle classes*/
.FilterOn{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  height: 35em;
  background-color:#002B45;
  margin-top: -6.5em;
  width: 100%;
}

.FilterOff{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  height: 25em;
}

.StoriesHigh{
  margin-top: -31em;
  transition: all 0.5s;
}

.StoriesLow{
  margin-top: 1em;
  transition: all 0.5s;
}
/*End filter toggle classes*/


h2{
  font-family: DFDS;
  font-weight: bold;
  color: #003251;
  font-size: 2.5em;
  grid-column-start: 1;
  padding-left: 1.5rem;
  margin-top: 0.3em;
  margin-bottom: -0.3em;
  align-self: center;
}


/* Verhalen overzicht */
section:nth-of-type(2), section:nth-of-type(3){
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 1.4em;
  margin-bottom: 2em;
}


/* Los verhaal */
article{
  width: 50vh;
  height: 30vh;
  overflow: hidden;
  grid-column: 1;
  justify-self: center;
}

article > a{
  display: grid;
  grid-template-columns: 3fr 2fr;
}

article footer{
  height: 30vh;
  margin-right: -2.3em;
  clip-path: polygon(53% 0, 100% 0, 100% 100%, 0% 100%);
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 0;
  display: grid;
  grid-template-rows: 3fr 0.75fr 0.75fr 0.75fr;
  grid-template-columns: 1fr;
}

article:nth-of-type(1) footer,
article:nth-of-type(1) h4{
  background-color: rgba(246, 134, 31, 0.65);
}

article:nth-of-type(2) footer,
article:nth-of-type(2) h4{
  background-color: rgba(77, 97, 113, 0.65);
}

article:nth-of-type(3) footer,
article:nth-of-type(3) h4{
  background-color: rgba(76, 42, 107, 0.65);
}

article:nth-of-type(4) footer,
article:nth-of-type(4) h4{
  background-color: rgba(189, 23, 47, 0.65);
}

article:nth-of-type(5) footer,
article:nth-of-type(5) h4{
  background-color: rgba(246, 134, 31, 0.65);
}

article:nth-of-type(6) footer,
article:nth-of-type(6) h4{
  background-color: rgba(77, 97, 113, 0.65);
}

article:nth-of-type(7), article:nth-of-type(8){
  display: none;
}


/* Inhoud verhaal */
article a img{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 100%;

}


h4{
  height: 17.5em;
  color: #FFF;
  text-transform: uppercase;
  clip-path: polygon(0 0, 40% 0%, 30% 13%, 0% 13%);;
  grid-column: 1 / 2;
  grid-row: 1 /2;
  margin: 0em 0;
  padding: 0.6em 0 0 0.6em;
}

p{
  font-family: "DFDS";
  font-weight: 100;
  font-size: 1em;
}

footer > p{
  text-align: right;
  align-self: center;
  color: #FFF;
  padding-right: 3.6em;
  margin: 0.2em 0;
}

article a footer img{
  width: 5em;
  align-self: center;
  justify-self: center;
  grid-row: 4 / 5;
  padding: 0 0 0.4em 0.9em;
}

article a footer p:nth-of-type(1) {
  grid-row: 2 / 3;
}

article a footer p:nth-of-type(2) {
  grid-row: 3 / 4;
}


button:nth-of-type(2){
  font-family: DFDS;
  font-weight: normal;
  color: #FFF;
  font-size: 1.8em;
  text-transform: uppercase;
  background-color: #F6861F;
  border: none;
  width: 8em;
  height: 2.5em;
  position: fixed;
  bottom: 29px;
  left: 50%;
  transform: translate(-50%, 0px);
  box-shadow: 3px 3px 14px 0px rgba(133,131,133,1);
}

/*Detail pagina (verhaal)*/
#headerVerhaal{
  height: 4em;
}

#mainVerhaal{
  margin-top: 3.2em;
  height: 199em;
  background-image: url('../img/BGletters.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#verhaalTitel{
  width: 47vw;
  margin-top: 5em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.verhaalTxt{
  margin: 0 4em;
}

.verhaalTxt:nth-of-type(1){
  margin-top: 14em;
}

.verhaalTxt:nth-of-type(2){
  margin-top: 13em;
}

.verhaalTxt:nth-of-type(3){
  margin-top: 21em;
}

.verhaalTxt:nth-of-type(4){
  margin-top: 25em;
}

.verhaalTxt:nth-of-type(5){
  margin-top: 9em;
}

.verhaalTxt:nth-of-type(6){
  margin-top: 8em;
}

.verhaalTxt:nth-of-type(7){
  margin-top: 12.5em;
}

.verhaalTxt:nth-of-type(8){
  margin-top: 15em;
}

.verhaalTxt:nth-of-type(9){
  margin-top: 15em;
}

#randomBtn{
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 8em;
  height: 1.8em;
  font-family: DFDS;
  font-weight: bold;
  font-size: 2.3em;
  color: #FFF;
  background-color: #F6861F;
  margin-bottom: 1em;
  text-align: center;
  padding-top: 12px;
  box-shadow: 3px 3px 14px 0px rgba(133,131,133,1);

}

/*Klein formaat*/
@media (max-width: 380px) {
  input[name="search"]{
    width: 4em;
    height: 0.5em;
    margin-left: -2em;
  }

  input[name="search"]:focus{
    background-position-x: 150%;
    width: 4.5em;
  }

  header > a{
    margin-left: -1.8em;
  }

  li:nth-of-type(3), li:nth-of-type(4){
    padding-left: 0.5em;
  }

  li:nth-of-type(5), li:nth-of-type(6){
    padding-left: 1em;
  }

  article{
    width: 87vw;
    height: 25vh;
  }

  article footer{
    height: 25vh;
  }

  footer p{
    padding-right: 2.8em;
  }

  h2{
    font-size: 2em;
    padding-left: 1.7rem;
  }

  #mainVerhaal{
    height: 180em;
  }

  .verhaalTxt:nth-of-type(1){
    margin-top: 11em;
  }

  .verhaalTxt:nth-of-type(2){
    margin-top: 13em;
  }

  .verhaalTxt:nth-of-type(3){
    margin-top: 16em;
  }

  .verhaalTxt:nth-of-type(4){
    margin-top: 22em;
  }

  .verhaalTxt:nth-of-type(5){
    margin-top: 5em;
  }

  .verhaalTxt:nth-of-type(6){
    margin-top: 8em;
  }

  .verhaalTxt:nth-of-type(7){
    margin-top: 8.5em;
  }

  .verhaalTxt:nth-of-type(8){
    margin-top: 11em;
  }

  .verhaalTxt:nth-of-type(9){
    margin-top: 10em;
  }
}

/*Tablet formaat*/
@media screen and (min-width: 650px) {
  /*Header*/
  #logo{
  padding: 1em 1em 1em 4.2em;
  }

  header a{
    margin-left: 0;
  }

  input[name="search"]{
    width: 16em;
    margin-left: -5.5em;
  }

  input[name="search"]:focus{
    width: 14em;
  }

  li:nth-of-type(1), li:nth-of-type(2){
    margin-left: -3em;
  }

  li:nth-of-type(3), li:nth-of-type(4){
    margin-left: -1em;
  }

  li:nth-of-type(5), li:nth-of-type(6){
    margin-right: -3em;
  }



  /*Main*/
  input#leestijdSlider {
    margin-left: 5em;
    margin-top: -1em;
    width: 13em;
  }

  #tickmarks{
    width: 18em;
    margin-left: 9em;
    margin-top:-1em;
  }

  section:nth-of-type(2), section:nth-of-type(3){
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
  }

  #filterBtn{
    margin: 2em 4.25em 0 0;

  }

  h2{
    padding-left: 4rem;
  }

  article{
    width: 85%;
    height: 12.5em;
  }

  article:nth-of-type(1n){
    grid-column: 1/2;
    justify-self: right;
  }

  article:nth-of-type(2n){
    grid-column: 2/3;
    justify-self: left;
  }

  article a{
    grid-template-columns: 2fr 2fr;

  }

  article a img{
    /* height: 30vh; */
  }

  article footer{
    height: 12.5em;
  }

  footer p{
    padding-right: 3.8em;
  }

  h4{
    padding: 0.4em 0 0 0.4em;
    height: 12.5em;
    clip-path: polygon(0 0, 50% 0%, 41% 16%, 0% 16%);
  }

  /*Verhaal styling*/
  #mainVerhaal{
    height: 368em;
  }

  #verhaalTitel{
    width: 33vw;
  }

  .verhaalTxt{
    margin: 0 14em;
  }

  .verhaalTxt:nth-of-type(1){
    margin-top: 32em;
  }

  .verhaalTxt:nth-of-type(2){
    margin-top: 32em;
  }

  .verhaalTxt:nth-of-type(3){
    margin-top: 43em;
  }

  .verhaalTxt:nth-of-type(4){
    margin-top: 55em;
  }

  .verhaalTxt:nth-of-type(5){
    margin-top: 20em;
  }

  .verhaalTxt:nth-of-type(6){
    margin-top: 24em;
  }

  .verhaalTxt:nth-of-type(7){
    margin-top: 32em;
  }

  .verhaalTxt:nth-of-type(8){
    margin-top: 33em;
  }

  .verhaalTxt:nth-of-type(9){
    margin-top: 38.5em;
  }

}

@media screen and (min-width: 900px) {
  /*Header*/
  #logo{
    padding: 1em 1em 1em 11.8em;
  }

  header > a{
    margin-left: -3.5em;
  }

  li:nth-of-type(1), li:nth-of-type(2){
    margin-left: 1.2em;
  }

  li:nth-of-type(5), li:nth-of-type(6){
    margin-right: 0.8em;
  }


  /*Main*/
  #filterBtn{
    margin-right: 12.5em;
    grid-column: 3/4;
  }

  #filterForm{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
  }

  h2{
    padding-left: 3rem;
  }

  section:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .FilterOn{
    transition: none;
    height: 31em;
    margin-top: -5.5em;
  }

  .FilterOff{
    transition: none;
    height: 26em;
  }

  .StoriesLow{
    margin-top:-32.15em;
    z-index: 0;
    transition: none;
  }

  .StoriesHigh{
    margin-top: -32.8em;
    transition: none;
  }

  section:nth-of-type(2), section:nth-of-type(3){
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  article:nth-of-type(1){
    grid-column: 1/2;
    justify-self: right;
  }

  article:nth-of-type(2){
    grid-column: 2/3;
    justify-self: center;
  }

  article:nth-of-type(3){
    grid-column: 3/4;
    justify-self: left;
  }

  article:nth-of-type(4){
    grid-column: 1/2;
    justify-self: right;
  }

  article:nth-of-type(5) {
    grid-column: 2/3;
    justify-self: center;
  }

    article:nth-of-type(6) {
    grid-column: 3/4;
    justify-self: left;
  }


  article a img{
    width: 21em;
  }

  article a footer img{
    width: 6em;
  }

  /*Verhaal styling*/
  #mainVerhaal{
    height: 729em;
  }

  #verhaalTitel{
    width: 25vw;
  }

  .verhaalTxt{
    margin: 0 10em;
    font-size: 2em;
  }

  .verhaalTxt:nth-of-type(1){
    margin-top: 27em;
  }

  .verhaalTxt:nth-of-type(2){
    margin-top: 23em;
  }

  .verhaalTxt:nth-of-type(3){
    margin-top: 32em;
  }

  .verhaalTxt:nth-of-type(4){
    margin-top: 41em;
  }

  .verhaalTxt:nth-of-type(5){
    margin-top: 14em;
  }

  .verhaalTxt:nth-of-type(6){
    margin-top: 16em;
  }

  .verhaalTxt:nth-of-type(7){
    margin-top: 22em;
  }

  .verhaalTxt:nth-of-type(8){
    margin-top: 24em;
  }

  .verhaalTxt:nth-of-type(9){
    margin-top: 27.5em;
  }
}


@media screen and (min-width: 1340px) {
  /*Header*/
  #logo{
    padding: 1em 1em 1em 12.5em;
  }

  header a{
    margin-left: 0.8em;
  }

  input[name="search"]{
    margin-left: 6.5em;
    width: 23em;
  }

  input[name="search"]:focus{
    width: 24em;
  }

  li:nth-of-type(1), li:nth-of-type(2){
    margin-left: 10em;
  }

  li:nth-of-type(5), li:nth-of-type(6){
    margin-right: 12em;
  }



  /*Main*/
  #filterBtn{
    margin-right: 13em;
    margin-top: 1em;
  }

  h2{
    padding-left: 0rem;
  }

  article{
    height: 18em;
    width: 100%;
  }

  article footer{
    height: 18em;
  }

  footer p{
    font-size: 1.2em;
    padding-right: 3em;
  }

  article a img{
    width: 33em;
  }

  article a footer img{
    width: 8em;
    padding-left: 2em;
  }

  #verhalen article:nth-of-type(1){
    grid-column: 1/3;
    height: 34em;
  }

  #verhalen article:nth-of-type(1) h4{
    font-size: 1.3em;
    clip-path: polygon(0 0, 38% 0%, 32% 16%, 0% 16%);
  }

  #verhalen article:nth-of-type(1) a img{
    width: 67em;
    margin: -1em 0 0 -1em;
  }

  #verhalen article:nth-of-type(1) footer{
    height: 34em;
  }

  #verhalen article:nth-of-type(1) footer img{
    width: 12em;
    justify-self: right;
    padding-right: 4.5em;
    padding-bottom: 1em;
  }

  #verhalen article:nth-of-type(1) footer p{
    font-size: 2.3em;
    margin-right: -1em
  }

  #verhalen article:nth-of-type(2){
    grid-column: 1/2;
    justify-self: right;
  }

  article:nth-of-type(7){
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
  }

  article:nth-of-type(7) footer{
    background-color: rgba(189, 23, 47, 0.65);
  }

  article:nth-of-type(7) h4{
    background-color: rgba(189, 23, 47, 0.65);
  }

  article:nth-of-type(8){
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    height: 34em;
    background-color: #FFF;
    background-image: url("../img/DFDSIconGrey.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  article:nth-of-type(8) p{
    font-size: 3.5em;
    font-family: 'DFDS';
    font-weight: bold;
    text-align: center;
    padding-top: 2em;
    margin: 0;
  }

  article:nth-of-type(8) img{
    width: 53%;
    margin-left: 1em;
    transform: rotate(-5deg);
    margin-top: -2em;
  }

  article:nth-of-type(8) a{
    display: block;
    margin-left: 3.25em;
    padding-top: 0.5em;
    width: 11em;
    height: 2em;
    font-family: DFDS;
    font-weight: bold;
    font-size: 1.8em;
    color: #FFF;
    background-color: #F6861F;
    text-align: center;
    box-shadow: 3px 3px 14px 0px rgba(133,131,133,1);
  }


  /*Verhaal*/

  .verhaalTxt:nth-of-type(1){
    margin-top: 35em;
  }

  .verhaalTxt:nth-of-type(2){
    margin-top: 33em;
  }

  .verhaalTxt:nth-of-type(3){
    margin-top: 41em;
  }

  .verhaalTxt:nth-of-type(4){
    margin-top: 57em;
  }

  .verhaalTxt:nth-of-type(5){
    margin-top: 20em;
  }

  .verhaalTxt:nth-of-type(6){
    margin-top: 26em;
  }

  .verhaalTxt:nth-of-type(7){
    margin-top: 32em;
  }

  .verhaalTxt:nth-of-type(8){
    margin-top: 35.5em;
  }

  .verhaalTxt:nth-of-type(9){
    margin-top: 38.5em;
  }
}

@media screen and (min-width: 1600px) {
  #mainVerhaal{
    height: 810em;
  }

  /*Verhaal*/

  .verhaalTxt:nth-of-type(1){
    margin-top: 40em;
  }

  .verhaalTxt:nth-of-type(2){
    margin-top: 36em;
  }

  .verhaalTxt:nth-of-type(3){
    margin-top: 48em;
  }

  .verhaalTxt:nth-of-type(4){
    margin-top: 62.5em;
  }

  .verhaalTxt:nth-of-type(5){
    margin-top: 25em;
  }

  .verhaalTxt:nth-of-type(6){
    margin-top: 28em;
  }

  .verhaalTxt:nth-of-type(7){
    margin-top: 37.5em;
  }

  .verhaalTxt:nth-of-type(8){
    margin-top: 37.5em;
  }

  .verhaalTxt:nth-of-type(9){
    margin-top: 43.5em;
  }
}

/*Bronnen:
Voor speciale vormen heb ik clip-path gebruikt. Om de juiste vorm te vinden heb ik een genrator gebruikt.
https://bennettfeely.com/clippy/
Hier mee heb ik de waardes voor de polygon opgehaalt.
*/
