@font-face {
  font-family: "DFDS";
  src: url("fonts/DFDS-Light.woff2") format("woff2");
  font-weight: normal;
}

/* 
@font-face {
  font-family: "DFDS";
  src: url("fonts/DFDS-Bold.woff") format("woff");
  /* font-weight: bold; */
} */


html{
  font-size: 14px;
}

body{
  font-size: 1em;
  font-family: DFDS,"Segoe UI";
  font-weight: normal;
  background-color: #eaedee;
  margin: 0;
}

/* Header */
header{
  background-color: #FFF;
  width: 100vw;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr;
  box-shadow: 0px 3px 5px 0px rgba(209,209,209,1);
}

#logo{
  height: 2em;
  padding: 1em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
}

#logo img{
  width: 3em;

}

h1{
  color: #003251;
  font-size: 1.4em;
  margin: 0;
  font-family: DFDS;
  font-weight: bold;
  align-self: center;
}

form{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

input[name="search"]{
  width: 6em;
  background-image: url('../img/SearchIcon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1em;
  transition: all .3s;
  border-color: #005184;
  border-style: solid;
  border-width: 1.5px;
  padding: 0.4em;
  border-radius: 3px;
}

input[name="search"]:hover{
  border-color: #f6861f;
  transition: all .3s;
}

input[name="search"]:focus{
  background-position-x: 120%;
  width: 7em;
  border-color: #f6861f;
  transition: all .3s;
}


header > a{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: left;
  align-self: center;
}

header > a:hover{
  color: #f6861f;
  transition: all .2s;

}



/* Navigation */
nav{
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: white;
  margin-top: 0em;
  border-top: solid 1.5px #eaedee;


}

ul{
  list-style-type: none;
  font-family: DFDS;
  font-weight: bold;
  font-size: 1.3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;
}

ul a{
  text-decoration: none;
  color: #003251;
}

ul a:hover:active{
  color: #f6861f;
}

.thisPage{
  color: #F6861F;
}

li{
  justify-self: center;
}

li:nth-of-type(1){
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: baseline;
}

li:nth-of-type(2){
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

li:nth-of-type(3){
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: baseline;
}

li:nth-of-type(4){
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

li:nth-of-type(5){
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  align-self: baseline;
}

li:nth-of-type(6){
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}


li img{
  width: 1.2em;
}

li img:nth-of-type(1){
  margin-bottom: -0.3em;
}


/* Main */
a{
  text-decoration: none;
}

.formGrid{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  height: 20em;

}

button:nth-of-type(1){
  width: 4em;
  height: 2em;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: right;
  margin-top: 1em;
  margin-right: 3em;
  background-color: #FFF;
}

fieldset{
  justify-self: center;
  margin: 1em 0;
  color: #FFF;
  border: 0;
}

fieldset:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 2/3;
}

fieldset:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 3/4;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
}

fieldset:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 4/5;
}

/* #roman{
  grid-column: 1/2;
  grid-row: 1/2;
}

#biografisch{
  grid-column: 2/3;
  grid-row: 1/2;
} */

#resultaten{
  grid-column: 2/3;
  grid-row: 5/6;
  align-self: center;
  justify-self: center;
  width: 12em;
  height: 3em;
  margin: 2em 0 0 0;
  background-color: #F6861F;
  font-family: DFDS;
  font-style: bold;
  color: #FFF;
  font-size: 1.5em;
  text-transform: uppercase;


}

/*Filter toggle classes*/
.FilterOn{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  height: 20em;
  background-color:#002B45;
  /* background-image: url('../img/DFDS_BG_logo.png');
  background-size: 3em; */
}

.FilterOff{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.StoriesHigh{
  margin-top: -15em;
  transition: all 0.5s;
}

.StoriesLow{
  margin-top: 0;
  transition: all 0.5s;
}

.btnActive{
  background-color: #F6861F;
}

/*End filter toggle classes*/

h2{
  font-family: DFDS;
  font-weight: bold;
  color: #003251;
  font-size: 2.5em;
  grid-column-start: 1;
  padding-left: 1rem;
  margin-top: 0.3em;
  margin-bottom: 0;
  align-self: center;
}


/* Verhalen overzicht */
section:nth-of-type(2), section:nth-of-type(3){
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 1.4em;
  margin-bottom: 2em;
}


/* Los verhaal */
article{
  width: 50vh;
  height: 30vh;
  overflow: hidden;
  grid-column: 1;
  justify-self: center;
}

article > a{
  display: grid;
  grid-template-columns: 3fr 2fr;
}

article footer{
  height: 30vh;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 0;
  display: grid;
  grid-template-rows: 3fr 0.75fr 0.75fr 0.75fr;
}

article:nth-of-type(1) footer,
article:nth-of-type(1) h4{
  background-color: rgba(246, 134, 31, 0.65);
}

article:nth-of-type(2) footer,
article:nth-of-type(2) h4{
  background-color: rgba(77, 97, 113, 0.65);
}

article:nth-of-type(3) footer,
article:nth-of-type(3) h4{
  background-color: rgba(76, 42, 107, 0.65);
}

article:nth-of-type(4) footer,
article:nth-of-type(4) h4{
  background-color: rgba(189, 23, 47, 0.65);
}


/* Inhoud verhaal */
img{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 100%;
}

h4{
  height: 17.5em;
  color: #FFF;
  text-transform: uppercase;
  clip-path: polygon(0 0, 40% 0%, 30% 13%, 0% 13%);;
  grid-column: 1 / 2;
  grid-row: 1 /2;
  margin: 0em 0;
  padding: 0.6em 0 0 0.6em;
}

p{
  font-family: "DFDS";
  font-weight: 100;
  font-size: 1em;
}

footer > p{
  text-align: right;
  align-self: center;
  color: #FFF;
  padding-right: 0.8em;
  margin: 0.2em 0;
}


article a footer p:nth-of-type(1) {
  grid-row: 2 / 3;
}

article a footer p:nth-of-type(2) {
  grid-row: 3 / 4;
}

article a footer p:nth-of-type(3) {
  grid-row: 4 / 5;
}

button:nth-of-type(2){
  font-family: DFDS;
  font-weight: normal;
  color: #FFF;
  font-size: 1.8em;
  text-transform: uppercase;
  background-color: #F6861F;
  border: none;
  width: 8em;
  height: 2.5em;
  position: fixed;
  bottom: 29px;
  left: 50%;
  transform: translate(-50%, 0px);
  box-shadow: 3px 3px 14px 0px rgba(133,131,133,1);
}

/*Detail pagina (verhaal)*/
#headerVerhaal{
  height: 4em;
}

#mainVerhaal{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  margin-top: 3.2em;
  height: 729em;
  background-image: url('../img/BGletters.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#verhaalTitel{
  width: 25vw;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: top;
  padding-top: 5em;
}

#verhaalUl{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.verhaalLi:nth-of-type(1){
  grid-column: 1/2;
  grid-row: 1/2;

}

.verhaalLi:nth-of-type(2){
  grid-column: 1/2;
  grid-row: 2/3;
}

.verhaalLi:nth-of-type(3){
  grid-column: 1/2;
  grid-row: 3/4;
}

.verhaalLi:nth-of-type(4){
  grid-column: 1/2;
  grid-row: 4/5;
}

.verhaalLi:nth-of-type(5){
  grid-column: 1/2;
  grid-row: 5/6;
}

.verhaalLi:nth-of-type(6){
  grid-column: 1/2;
  grid-row: 6/7;
}

.verhaalLi:nth-of-type(7){
  grid-column: 1/2;
  grid-row: 7/8;
}

.verhaalLi:nth-of-type(8){
  grid-column: 1/2;
  grid-row: 8/9;
}

.verhaalLi:nth-of-type(9){
  grid-column: 1/2;
  grid-row: 9/10;
}

#randomBtn{
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 10em;
  height: 2em;
  font-family: DFDS;
  font-weight: bold;
  font-size: 1.8em;
  color: #FFF;
  background-color: #F6861F;
  margin-bottom: 1em;
}

/*Klein formaat*/
@media (max-width: 380px) {
  article{
    width: 80vw;
    height: 21vh;
  }

  article footer{
    height: 21vh;
  }
}

/*Tablet formaat*/
@media screen and (min-width: 650px) {
  /*Header*/
  input[name="search"]{
    width: 12em;
  }

  input[name="search"]:focus{
    width: 14em;
  }


  /*Main*/
  section:nth-of-type(2), section:nth-of-type(3){
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
  }

  article{
    width: 85%;
    height: 12.5em;
  }

  article:nth-of-type(1n){
    grid-column: 1/2;
    justify-self: right;
  }

  article:nth-of-type(2n){
    grid-column: 2/3;
    justify-self: left;
  }

  article a{
    grid-template-columns: 2fr 2fr;

  }

  article a img{
    /* height: 30vh; */
  }

  article footer{
    height: 12.5em;
  }

  h4{
    padding: 0.4em 0 0 0.4em;
    height: 12.5em;
    clip-path: polygon(0 0, 50% 0%, 41% 16%, 0% 16%);
  }

}

@media screen and (min-width: 900px) {

  /*Main*/
  section:nth-of-type(2), section:nth-of-type(3){
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
  }

  article:nth-of-type(1){
    grid-column: 1/2;
    justify-self: right;
  }

  article:nth-of-type(2){
    grid-column: 2/3;
    justify-self: center;
  }

  article:nth-of-type(3){
    grid-column: 3/4;
    justify-self: left;
  }

  article:nth-of-type(4){
    grid-column: 1/2;
    justify-self: right;
  }

  article a{
    width: 23em;
  }
}
